.navbar {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align the items */
}

.nav-container {
    width: 100%;
}

.logo {
    margin-bottom: 20px; /* Space between logo and nav menu */
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style-type: none; /* Removes default list styling */
}

.nav-item {
    margin: 0 10px; /* Space between items */
}

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
    }

    .hamburger {
        display: block; /* Show hamburger menu on small screens */
    }

    .nav-menu {
        display: none; /* Initially hide the navigation menu on small screens */
    }

    .nav-menu.active {
        display: flex; /* Display the menu when active */
    }
}
